.card {
    background-color: rgb(201, 233, 222)
}

body {
    background-color: #ce8dec;
}

.card-title {
    color: red !important;
    font-size: 3em !important;
    font-weight: 700 !important;
}

#task-title {
    color: blue;
}

.collection-item {
    background: rgb(243, 199, 132) !important;
}

.fa {
    color: red;
}